.event-form-container {
  padding: 5px;
  width: 330px;
  height: max-content;
  overflow-y: hidden;
  animation: scale-in-center 0.2s ease-in-out;
}

.event-form-container form,
.event-form-date-time,
.event-form-address-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.event-form-container .event-form-title,
.event-form-container .event-form-time,
.event-form-container .event-form-address,
.event-form-container .event-form-description,
.event-form-container select,
.event-form-container .pac-target-input {
  font-family: var(--secondary-font-family);
  background-color: #e0e0e0;
  padding: 14px;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
}

.event-form-container .event-form-title:focus,
.event-form-container .event-form-time:focus,
.event-form-container .event-form-address:focus,
.event-form-container .event-form-description:focus,
.event-form-container select:focus,
.event-form-container .pac-target-input:focus {
  outline: none;
  border: 3px solid var(--primary-color);
}

.event-form-container .event-form-description {
  resize: none;
  height: 150px;
}

.event-form-container .event-form-address {
  padding: 14px;
  font-size: 0.8rem;
}

.event-form-container .create-event-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
