.mini-navbar {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  height: 80px;
}

a.mini-navbar-logo {
  height: 75px;
}

.mini-navbar-logo img {
  width: 75px;
  height: 75px;
}

a.mini-navbar-logo:hover {
  animation: rotate-vert-center 1s ease;
}

.mini-navbar-user-menu {
  position: absolute;
  background-color: var(--tertiary-color);
  border: 2px solid var(--secondary-color);
  margin-top: 20px;
  left: 0;
  top: 60px;
  padding: 18px 20px;
  width: 180px;
  border-radius: 15px;
  z-index: 3000;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}

.mini-navbar-user-menu.open {
  visibility: visible;
  opacity: 1;
}

.mini-navbar-user-menu h3 {
  text-align: center;
  font-size: 22px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}

.mini-navbar-user-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 19px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: var(--tertiary-color);
}

.mini-navbar-user-menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
}

.mini-navbar-user-menu ul li a {
  font-family: var(--secondary-font-family);
  font-size: 20px;
  transition: text-shadow 0.3s ease;
}

.mini-navbar-user-menu ul li a:hover {
  text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
}

.mini-navbar-user-menu ul li .icons {
  max-width: 20px;
  margin-right: 10px;
}

.mini-nav-options-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4rem;
}

.mini-nav-options {
  display: flex;
  gap: 1rem;
  color: var(--tertiary-color);
  font-weight: bold;
}

.mini-nav-options li {
  flex-shrink: 0;
  white-space: nowrap;
}

.mini-nav-options li a {
  font-family: var(--secondary-font-family);
  font-size: 23px;
  position: relative;
  display: inline-block;
}

.mini-nav-options li a:hover {
  color: var(--primary-color);
}

.mini-nav-options li a::after {
  content: "";
  position: absolute;
  background-color: var(--tertiary-color);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.mini-nav-options li a:hover::after {
  width: 100%;
  background-color: var(--primary-color);
}

@media screen and (max-width: 2000px) {
  .mini-nav-options-container {
    margin-left: 2rem;
  }

  .mini-nav-options {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1700px) {
  .mini-nav-options-container {
    margin-left: 2rem;
  }

  .mini-nav-options li a {
    font-size: 20px;
  }
}

@media screen and (max-width: 1550px) {
  .mini-nav-options-container {
    margin-left: 1rem;
  }

  .mini-nav-options li a {
    font-size: 20px;
  }
}

@media screen and (max-width: 1550px) {
  .mini-nav-options-container {
    margin-left: 1rem;
  }

  .mini-nav-options li a {
    font-size: 18px;
  }
}
