.password-reset-form-container {
  font-size: 1.4rem;
  max-width: 600px;
  padding: 40px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.password-reset-form-container legend {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 10px 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.password-reset-form-container fieldset {
  width: 100%;
  margin-bottom: 20px;
}

.password-reset-form-container .password-section input {
  font-family: var(--secondary-font-family);
  font-size: 1.2rem;
  background-color: #e0e0e0;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  margin-bottom: 40px;
  transition: all 0.3s ease-in-out;
}

.password-reset-form-container .password-section input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.delete-account-container {
  font-size: 1.4rem;
  max-width: 600px;
  padding: 40px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.delete-account-container legend {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 10px 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.delete-account-description {
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  margin-bottom: 20px;
}


