main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem 14%;
}

.settings-form-container {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto 4rem;
  padding: 40px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.settings-form-container legend,
.delete-account-container legend {
  font-family: var(--secondary-font-family);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 10px 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.settings-form-container fieldset {
  width: 100%;
  margin-bottom: 20px;
}

.settings-form-container .username-email-section input,
.settings-form-container .password-section input {
  font-family: var(--secondary-font-family);
  font-size: 1.2rem;
  background-color: #e0e0e0;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  margin-bottom: 40px;
  transition: all 0.3s ease-in-out;
}
.settings-form-container .username-email-section input:focus,
.settings-form-container .password-section input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.settings-form-container .save-button {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: bold;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.settings-form-container .save-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0 0 30px var(--primary-color);
}

.settings-form-container:last-of-type {
  margin-bottom: 0;
}
