.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f1f1f1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.user-name-age {
  font-size: 2.2rem;
  margin: 2rem;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.user-location {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.user-location #location-icon {
  color: red;
}

.profile-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.profile-section {
  flex: 1;
  min-width: 250px;
  max-width: 1000px;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

#languages {
  min-width: 200px;
  max-width: 300px;
}

.profile-section .section-title {
  font-size: 2rem;
  margin-bottom: 10px;
  border-bottom: 3px solid #e0e0e0;
  padding-bottom: 5px;
}

.profile-section .about-question,
.profile-section .language-category {
  font-family: var(--secondary-font-family);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.profile-section .about-answer,
.profile-section .language-answer {
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.user-photo {
  max-width: 200px;
  max-height: 150px;
  object-fit: cover;
}

.modal {
  position: fixed;
  z-index: 1000;
  padding-top: 7rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
  max-height: 1000px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: zoom 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
    opacity: 0.1;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#photos {
  min-width: 200px;
  max-width: 360px;
}

.photos-container img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out opacity;
}

.photos-container img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.my-custom-modal .ant-modal-content {
  position: relative;
  top: 7%;
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.my-custom-modal img {
  border-radius: 5px;
}

.my-custom-modal .ant-modal-close {
  color: var(--tertiary-color);
  scale: 1.3;
  position: absolute;
  top: 2px;
  right: 0;
}

.my-custom-modal .ant-modal-close:hover {
  color: red;
}
